@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background: $wtf;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.header{
  font-size: 44px;
  margin-bottom: 16px;
}
.textarea{
  height: 440px;
  width: 860px;
  border-radius: 15px;
}
.action{
  padding: 45px;
  display: flex;
  justify-content: flex-end;
}
.action__button{
  width: 100px;
  height: 50px;
  margin-left: 25px;
  border-radius: 15px;
  border: none;
}

.action__button--load{
  background: rgb(90, 130, 240);
}
.action__button--save{
  background: rgb(50, 252, 117);
}
.action__button--delete{
  background: rgb(202, 19, 19);
}